.itemlist__container {
  width: 200px;
  /* opacity: .3; */
  color: #ffd700;
}

.itemlist {
  color: green;
}

.pagewidget {
}

.pagewidget__arrow {
  font-weight: 700;
  font-size: 2rem;
  display: inline-block;
  padding: 0 1rem;
  cursor: pointer;
}

.pagewidget__arrow--disabled {
  color: grey;
  opacity: 0.3;
  cursor: default;
}

.pagewidget__number {
  font-size: 2rem;
  display: inline-block;
}

.listitem__placeholdercontainer {
  display: grid;
  justify-content: center;
}

.listitem__placeholder {
  margin: 4px;
  display: block;
  height: 20px;
  width: 110px;
  background-color: grey;
  opacity: 0.3;
}

.listitem__button {
  background: none;
  color: #ffd700;
  margin: 2px;
}
